@model Homuai.EmailHelper.Models.ContactUsModel

<div style="margin-top: 50px;">
    <span style="font-size: 14px;">O Usuário (@Model.UserName), com e-mail ({@Model.Email}) enviou a seguinte mensagem:</span>

    <div style="margin-top: 50px;">
        <span style="font-size: 16px;font-weight: 800;">@Model.Message</span>
    </div>
</div>